<div class="container">
    <mat-form-field appearance="fill">
        <mat-label> Id produit à modifer :</mat-label>
        <input matInput type="text" id="id" name="id" #id >
      </mat-form-field>
      <button mat-raised-button class="btn" (click)="produitFunction(id.value)" >Rechercher le produit</button>
</div>


<div class="container" *ngIf="!produit">

    <div class="inp">
    <mat-form-field appearance="fill">
        <mat-label>Nom produit :</mat-label>
        <input matInput type="text" id="name" name="name" #name >
      </mat-form-field>
    </div>
    <div class="inp">
      <mat-form-field appearance="fill">
        <mat-label>Prix :</mat-label>
        <input matInput type="text" id="price" name="price" #price>
      </mat-form-field>
    </div>

    <div class="inp">
      <mat-form-field appearance="fill">
        <mat-label>Stock :</mat-label>
        <input matInput type="text" id="stock" name="stock" #stock >
      </mat-form-field>
    </div>


<div class="container">
    <button [disabled]="btnModif"mat-raised-button class="btn" (click)="modifFunction(name.value, price.value, stock.value)" >Modifier le produit</button>
    <a mat-raised-button class="btn" routerLink="/home">Retour</a>
</div>
</div>

<div class="container" *ngIf="produit">

    
    <div class="inp">
    <mat-form-field appearance="fill">
        <mat-label>Nom produit :</mat-label>
        <input matInput type="text" id="name" name="name" #name value={{produit.name}}>
      </mat-form-field>
    </div>
    <div class="inp">
      <mat-form-field appearance="fill">
        <mat-label>Prix :</mat-label>
        <input matInput type="text" id="price" name="price" #price value={{produit.price}}>
      </mat-form-field>
    </div>

    <div class="inp">
      <mat-form-field appearance="fill">
        <mat-label>Stock :</mat-label>
        <input matInput type="text" id="stock" name="stock" #stock value={{produit.stock}}>
      </mat-form-field>
    </div>


<div class="container">
    <button [disabled]="btnModif"mat-raised-button class="btn" (click)="modifFunction(name.value, price.value, stock.value)" >Modifier le produit</button>
    <a mat-raised-button class="btn" routerLink="/home">Retour</a>
</div>
</div>


